.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 100px;
  padding: 70px;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  flex: 300px;
}

/* AI 역사 글자 가운데 정렬 */
.jaymoc {
  text-align: center;
}
/* 글자 사이즈, 호버링시 범위를 글자에 한정시키기 */
h1 {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 20px;
  transition: color 0.5s ease;
  font-weight: bold;
  transition: transform 0.5s ease;
}

h1:hover {
  color: rgb(157, 157, 157);
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
/* 동글동글하게 */
.flex-container div {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
/* 중요한 친구 */
.move-box {
  text-align: center;
  background-color: #9d9d9d;
  transition: transform 0.5s ease; /* 상태 변화 시 부드럽게 */
}

.move-box:hover {
  transform: scale(1.05); /* hover 시 확대 */
}

.text42 {
  box-shadow: #9d9d9d 5px 5px 15px 0px;
  background-color: #f1f1f1;
  background-position: 10%;
  text-align: right;
  padding-right: 10vw;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 40px;
  margin-top: 100px;
  color: #4b5563;
}
